<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FinderOfFiles.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <FinderOfFiles.My.MySettings>
            <setting name="MainFormPositionX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainFormPositionY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DateCreatedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="DateCreatedTo" serializeAs="String">
                <value />
            </setting>
            <setting name="DateModifiedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="DateModifiedTo" serializeAs="String">
                <value />
            </setting>
            <setting name="DateLastAccessedFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="DateLastAccessedTo" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeSubFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSpecsToFind" serializeAs="String">
                <value>*.htm;*.html</value>
            </setting>
            <setting name="StartingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TextToFind" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreCase" serializeAs="String">
                <value>False</value>
            </setting>
        </FinderOfFiles.My.MySettings>
    </userSettings>
</configuration>
